body {
	margin: 0;
	background-color: #404040;
	background-image: url("../img/background.jpg");
	font-family: Arial;						;
}

main {
	width: 98%;
	margin: 0 auto;
	color: white;
}

h1 {
	margin: 2px;
}

.header {
	position: relative;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 18px;
	background-color: rgba(64,64,64,0.5);
}
#avatar {
	height: 48px;
	width: 48px;
	border-radius: 50px;
	margin-bottom: 5px;
}
.chart-text {
	margin-left: 6px;
}

#maxPrice {
	color: rgb(188,255,188);
}
#minPrice {
	color: rgb(255,170,170);
}
#ma10 {
	color: rgb(180,180,255);
}
#ma50 {
	color: rgb(255,255,180);
}

.logo {
	display: inline-block;
	width: 60px;
}

.top-price {
	margin-left: 200px;
	position: absolute;
	top: 15px;
	display: inline-block;
	font-family: helvetica;
	font-weight: 400;
	font-size: 24px;
}

#logo {
	display: inline-block;
	margin-left: 8px;
	margin-top: 5px;
}

#stats {
	display: inline-block;
	width: 300px;
	text-align: right;
	float: right;
	margin-top: 10px;
	margin-right: 8px;
}

#chart-window {
	padding: 10px;
	border-radius: 18px;
	display: inline-block;
	width: 60%;
	height: auto;
	background-color: rgba(64,64,64,0.5);
}

.bot {
	padding: 8px;
	display: inline-block;
	width: 130px;
	margin: 8px;
	background-color: grey;
	border-radius: 5%;
}

.bot-container {
	margin: auto;
	width: 100%;
}

.hud {
	margin-left: 10px;
	padding: 10px;
	border-radius: 18px;
	display: inline-block;
	width: 35%;
	height: 400px;
	background-color: rgba(64,64,64,0.5);
	vertical-align: top;
}

.butt {
	margin-left: 5px;
}

#btnBuy {
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 26px;
  background: #3cbd1c;
  padding: 8px 18px 8px 18px;
  text-decoration: none;
  border-color: #424242;
}

#btnBuy:hover {
  background: #52db2c;
  text-decoration: none;
}

#btnSell {
  background: #cf3636;
  background-image: -webkit-linear-gradient(top, #cf3636, #de1d36);
  background-image: -moz-linear-gradient(top, #cf3636, #de1d36);
  background-image: -ms-linear-gradient(top, #cf3636, #de1d36);
  background-image: -o-linear-gradient(top, #cf3636, #de1d36);
  background-image: linear-gradient(to bottom, #cf3636, #de1d36);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 26px;
  padding: 8px 18px 8px 18px;
  text-decoration: none;
  border-color: #424242;
}

#btnSell:hover {
  background: #e64e4e;
  text-decoration: none;
}

@media only screen and (max-width: 968px) {
    #chart-window {
		display: inline-block;
		width: 95%;
		height: auto;
		margin-bottom: 5px;
	}
	.hud {
		width: 94%;
		height: 400px;
	}

}